<app-header (showModal)="showModal()" />
<main>
  <app-section-filter (onChange)="onChange($event)" class="container" />
  <app-section-list
    [list]="list"
    [total]="total"
    (onClick)="delete($event)"
    (showModal)="showModal()"
    class="container"
  />
</main>

<app-modal
  title="Registro de valor"
  description="Digite o valor e em seguida aperte no botão referente ao tipo do valor"
>
  <app-form-insert-value
    (onSubmit)="onSubmit($event)"
    (onCloseModal)="closeModal()"
  />
</app-modal>
